Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [30]:
import pandas as pd
orders = pd.read_csv('orders.csv', encoding='utf-8', sep=',')

#zad1
orders['order_date'] = orders['order_date'].apply(lambda x: pd.to_datetime(x,errors = 'coerce', format = '%Y-%m-%d'))
orders.head(3)
orders.describe()
orders.info()

#zad2 
orders['tshirt_category'].unique()
orders['tshirt_category'].nunique()

#zad3
mask_hoodie = (orders['tshirt_category'] == 'Hoodie')
mask_tennis_tshirt = (orders['tshirt_category'] == 'Tennis Shirt')
#dopisanie brakujących danych dla Hoodie
orders.loc[mask_hoodie, 'tshirt_category'] = 'Black ' + orders['tshirt_category'].astype(str) + ' XL'
#Tennis Shirt jest teraz odczytany jako jeden string, tj. jeden typ produktu - Tennis_Shirt
orders.loc[mask_tennis_tshirt, 'tshirt_category'] = orders['tshirt_category'].str.replace(' ','_')
#dopisanie brakujących danych dla Tennis Shirt
orders.loc[mask_tennis_tshirt, 'tshirt_category'] = 'Yellow ' +  orders['tshirt_category'].astype(str) + ' M'
#czyszczenie błędnych danych
values_to_update = {"tshirt_category": 
                  {'Bl Tshirt F':'Black T-Shirt F', 'Bl Tshirt M':'Black T-Shirt M',
                   'Wh Tshirt F': 'White T-Shirt F', 'Wh Tshirt M': 'White T-Shirt M' }}
orders.replace(values_to_update, inplace=True)
set(orders['tshirt_category'])

#zad4

orders['tshirt_colour']=orders['tshirt_category'].str.split().apply(lambda x: x[0])
orders['tshirt_type']=orders['tshirt_category'].str.split().apply(lambda x: x[1]) 
orders['tshirt_size']=orders['tshirt_category'].str.split().apply(lambda x: x[-1])
orders.head(10)

#zad5
mask_date = (orders['order_date'] < '2016-08-02') & (orders['order_date'] > '2014-12-31')
orders[mask_date].sort_values(by=["order_date"])
orders.head(10)

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size
5119,2015-01-01,7,HTS-110029-0001,110029,Black Hoodie XL,23.0,2,Black,Hoodie,XL
7557,2015-01-01,16,HTS-299477-0003,299477,Yellow Tennis_Shirt M,24.0,1,Yellow,Tennis_Shirt,M
19383,2015-01-01,12,HTS-086354-0001,086354,White T-Shirt M,20.0,1,White,T-Shirt,M
13020,2015-01-01,7,HTS-665858-0003,665858,Black T-Shirt M,19.0,4,Black,T-Shirt,M
16106,2015-01-01,11,HTS-781573-0003,781573,Black Hoodie XL,23.0,8,Black,Hoodie,XL
...,...,...,...,...,...,...,...,...,...,...
12305,2016-08-01,8,HTS-635985-0003,635985,Black Hoodie XL,23.0,2,Black,Hoodie,XL
17930,2016-08-01,7,HTS-663340-0004,663340,White T-Shirt M,20.0,2,White,T-Shirt,M
9390,2016-08-01,9,HTS-430927-0004,430927,Black Hoodie XL,23.0,2,Black,Hoodie,XL
14730,2016-08-01,18,HTS-cxpi6e-0001,cxpi6e,Black Hoodie XL,23.0,2,Black,Hoodie,XL
21664,2016-08-01,19,HTS-nqxvcg-0001,nqxvcg,Black T-Shirt M,19.0,1,Black,T-Shirt,M

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [19]:
import pandas as pd
customers = pd.read_csv('customers.csv', encoding='utf-8', sep=',')
#zad 1 i 2
customers.info()
orders.info()
#ramka z zadania pierwszego ma 6 kolumn i 18766 wierszy, a ramka z zadania drugiego ma 10 kolumn i 26552 wierszy

#zad 3
customers.rename(columns={'customerID':'customer_id'}, inplace = True)
customers

#zad 4
orders.join(customers.set_index('customer_id'), on='customer_id')
#skorzystałam z metody join

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18766 entries, 0 to 18765
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  18766 non-null  object
 1   gender      16850 non-null  object
 2   birthdate   18766 non-null  object
 3   user_agent  18766 non-null  object
 4   ip_address  18766 non-null  object
 5   campaign    18766 non-null  bool
dtypes: bool(1), object(5)
memory usage: 751.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  datetime64[ns]
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
 7   tshirt_colour    26552 non-null  object
 8   tshirt_type      26552 non-null  object
 9   tshirt_size      26552 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 2.0+ MB

C:\Users\Modzo\AppData\Roaming\Python\Python310\site-packages\IPython\lib\pretty.py:778: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
C:\Users\Modzo\AppData\Roaming\Python\Python310\site-packages\IPython\core\formatters.py:342: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  return method()

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_colour,tshirt_type,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,White,T-Shirt,M,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,White,T-Shirt,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,White,T-Shirt,F,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,White,T-Shirt,F,F,1959/10/22,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,51.99.199.27,False
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,White,T-Shirt,M,F,1985/4/14,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,169.15.143.204,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1,White,T-Shirt,M,NaN,NaN,NaN,NaN,NaN
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,White,T-Shirt,M,NaN,NaN,NaN,NaN,NaN
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1,White,T-Shirt,M,NaN,NaN,NaN,NaN,NaN
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Black Hoodie XL,23.0,5,Black,Hoodie,XL,NaN,NaN,NaN,NaN,NaN
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3,Black,T-Shirt,M,NaN,NaN,NaN,NaN,NaN

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [29]:
new = orders.join(customers.set_index('customer_id'), on='customer_id')
new.to_csv('out.csv',index=False)